
@mixin  Btn {
    padding: 12px;
    border: none;
    border-radius: 7px;
    // width: auto;
    // height: auto;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: block;
}

@mixin  CentrarAbsolute {
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
}

@mixin flexDirection($direction){
    display: flex;
    flex-direction: $direction ;
}

@mixin centrarFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centrarFlexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin centrarMargin {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin backgroundImage($url){
    background-image: url($url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  @mixin imageViewport($vh,$url) {
    width: 100%;
    height: $vh ;
    background-image: url($url);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

@mixin MediaQuerie($dispositivo) {
      @if $dispositivo == tablet {
        @media screen and (min-width:760px){@content;}
      }
      @else if $dispositivo == desktop {
        @media screen and (min-width:1025px){@content;}
      }
}